<html>
  <head>
  <title>Oauth2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">    
  <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
  <div class="container">
    <h1>Home Page</h1>
    <h2><a href="/signout">Sign out</a></h2>
  </div>
    
  </body>
</html>